/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(202, 198, 198, 0.484);
	border-radius: 100px;
}

.container {
	width: 49.9dvw;
	height: 100dvh;
	background-color: gray;
}

.divider {
	width: 0.2dvw;
	height: 100dvh;
	background-color: white;
}

.song-list-page {
	padding: 2rem;
	background-color: #212121;
}

.container h1 {
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.9);
}

.song-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;
	margin-bottom: 1.5rem;
}

.song-list {
	width: 100%;
	height: 85dvh;
	overflow: auto;
	margin-top: 2rem;
}

.song {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.song-detail {
	display: flex;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.9);
	gap: 5px;
}

.song-detail .song-title {
	font-weight: 600;
}

.song .song-cover-image {
	width: 75px;
	height: 75px;
	border-radius: 15px;
}

.song-item .song-divider {
	width: 87%;
	align-self: flex-end;
	height: 2px;
	background-color: rgba(145, 145, 145, 0.484);
}

.media-player-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	color: black;
	user-select: none;
}

.player-song-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	align-items: center;
	margin-top: 3rem;
}

.player-song-detail .player-song-title {
	font-size: 1.5rem;
	font-weight: 600;
}

.player-song-detail .player-song-artist {
	font-size: 1.25rem;
}

.song-duration {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 2rem;
	font-weight: 500;
}

.song-duration .duration-divider {
	height: 75%;
	width: 2px;
	background-color: rgba(255, 255, 255, 0.9);
}

.song-duration .duration {
	color: #ebbe8b;
}

.progress-container {
	width: 330px;
	height: 330px;
	transform: translateY(-30px);
	position: relative;
}

.progress-ring {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.progress-ring circle {
	fill: none;
	stroke-width: 6;
	stroke-linecap: round;
}

/* Background track */
.track {
	stroke: #4c3f35;
	stroke-dasharray: 753.6;
	transform-origin: center;
	stroke-linecap: round;
	transform: rotate(-55deg);
	cursor: pointer;
}

/* Progress bar */
.progress {
	stroke: #f4a261;
	stroke-dasharray: 942;
	stroke-dashoffset: calc(
		942 - (753.6 * 0) / 100
	); /*0 is the progress value / default value */
	transform-origin: center;
	stroke-linecap: round;
	transform: rotate(-55deg);
	transition: stroke-dashoffset 0.1s linear;
	pointer-events: none;
}

.player-song-cover {
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.player-control {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-control .previous,
.player-control .next {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.player-control .play {
	width: 65px;
	height: 65px;
	cursor: pointer;
}
