/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(202, 198, 198, 0.484);
	border-radius: 100px;
}

.container {
	width: 49.9dvw;
	height: 100dvh;
	background-color: gray;
}

.divider {
	width: 0.2dvw;
	height: 100dvh;
	background-color: white;
}

.song-list-page {
	padding: 2rem;
	background-color: #212121;
}

.container h1 {
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.9);
}

.song-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;
	margin-bottom: 1.5rem;
}

.song-list {
	width: 100%;
	height: 85dvh;
	overflow: auto;
	margin-top: 2rem;
}

.song {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.song-detail {
	display: flex;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.9);
	gap: 5px;
}

.song-detail .song-title {
	font-weight: 600;
}

.song .song-cover-image {
	width: 75px;
	height: 75px;
	border-radius: 15px;
}

.song-item .song-divider {
	width: 87%;
	align-self: flex-end;
	height: 2px;
	background-color: rgba(145, 145, 145, 0.484);
}
